body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.kartu-profil {
    text-align: center;
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.profile-photo {
    text-align: center;
  width: 50%;
  height: 50%;
  object-fit: cover;
    border-radius: 50%;
}
